{% extends 'base1.html' %}

{% block content %}

<div class="main container-fluid">
    <div class="left col-sm-4" style="float:left; width: 360px;">
        <h6 class="p-2" style="background:#A9CCE3; color:#2F4F4F;">JOB CATEGORIES</h6>
        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action c1" style="color: rgb(2,96,170);">
            <h7 style="margin-left:11px;">All</h7>
            </a>
            {% for x in categories %}
            <a href="{{ x.get_absolute_path }}" class="list-group-item list-group-item-action c1" style="color: rgb(2,96,170);">
                <div class="overlay1"></div>
                    <div class="p-2">
                        <h7 class="card-title">
                            {{x.name}}
                        </h7>
                    </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="right col-sm-8" style="float: left; width: 825px; margin-left: 30px">
        <h3><strong>All Jobs</strong></h3>
        <div class="row mr-3">
            {% for job in jobs %}
            {% if job.active %}
            <div class="col-sm-6 mt-3">
                <div class="card c1">
                    <div class="overlay1"></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(2,96,170);">
                            {{job.post}}</h5>
                        <h6 class="card-text" style="color: rgb(85, 85, 85);">
                            {{job.job_id.comp_name}}</h6>
                        <h7><i class="fas fa-map-marker-alt mr-1"></i>{{job.address}}</h7>
                        <p><i class="far fa-calendar-alt mr-1"></i>{{job.todate|date:'d M, Y'}}</p>
                        <a href="{% url 'job_detail' job.job_id.id %}" class="btn btn-primary btn-sm"
                           style="margin-left:210px; position:relative;">View more</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}