{% extends 'base1.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Result</title>

    <style type="text/css">
        .card {
                min-width: 290px;
                height: 290px;
                background-color: rgb(159,194,183,0.1);
                display: inline-block;
                margin-right: 8px;
            }

    </style>
</head>

<body class="main container-fluid">
<div class="card">
    <div class="card-body">
    <h6 class="p-1 mt-2 mb-2" style="background:#A9CCE3; color:#2F4F4F;">Personality</h6>
    <div class="progress" style="height:25px;">
        <h6 style="margin-right:66px;">Openness: </h6>
        <div class="progress-bar progress-bar-striped" role="progressbar"
             style="height:20px; width: {{results.openness}}"
             aria-valuenow="10"
             aria-valuemin="0" aria-valuemax="100">{{results.openness}}%
        </div>
    </div>
    <div class="progress" style="height:25px;">
        <h6 style="margin-right:5px;">Conscientiousness: </h6>
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
             style="height:20px; width: {{results.conscientiousness}}" aria-valuenow="10"
             aria-valuemin="0" aria-valuemax="100">{{results.conscientiousness}}%
        </div>
    </div>
    <div class="progress" style="height:25px;">
        <h6 style="margin-right:48px;">Extraversion: </h6>
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
             style="height:20px; width: {{results.extraversion}}" aria-valuenow="10"
             aria-valuemin="0" aria-valuemax="100">{{results.extraversion}}%
        </div>
    </div>
    <div class="progress" style="height:25px;">
        <h6 style="margin-right:31px;">Agreeableness: </h6>
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
             style="height:20px; width: {{results.agreeableness}}" aria-valuenow="10"
             aria-valuemin="0" aria-valuemax="100">{{results.agreeableness}}%
        </div>
    </div>
    <div class="progress" style="height:25px;">
        <h6 style="margin-right:48px;">Neuroticism: </h6>
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
             style="height:20px; width: {{results.neuroticism}}" aria-valuenow="10"
             aria-valuemin="0" aria-valuemax="100">{{results.neuroticism}}%
        </div>
    </div>
    </div>
</div>
</body>
</html>
{% endblock content %}