{% extends 'base1.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="main container-fluid">
    <h5>openness: </h5><h6>{{results.openness}}</h6>
    <h5>conscientiousness: </h5><h6>{{results.conscientiousness}}</h6>
    <h5>extraversion: </h5><h6>{{results.extraversion}}</h6>
    <h5>agreeableness: </h5><h6>{{results.agreeableness}}</h6>
    <h5>neuroticism: </h5><h6>{{results.neuroticism}}</h6>
</body>
</html>
{% endblock content %}