{% extends 'base1.html' %}

{% block content %}

<style type="text/css">
        table {
            counter-reset: section;
        }

        .count:before {
            counter-increment: section;
            content: counter(section);
        }


</style>
{% if messages %}
    <div class="text-center mb-3 alert alert-danger">
        {{ messages }}
    </div>
{% endif %}

<div class="container-fluid" style="padding-top:100px;">
    <nav id="sidebar" style="float:left; padding:10px;">
        <p class="text-center text-info" style="text-transform:uppercase;"><span><strong> {{ info.user.username }}</strong></span></p>
         <p><strong>Contact: </strong><span>{{ info.Phone }}</span></p>
         <p><strong>Address: </strong><span> {{ info.Address }}</span></p>
         <p><strong>Email: </strong><span> {{ info.Email }}</span></p>
        <a href="{% url 'add_jobs' %}">
            <button type="button" class="btn btn-primary" style="margin-top:10px; margin-left:43px;">
                Create New Job
            </button>
        </a>
    </nav>
    <div id="content" style="float:right; width:78%">
        <div class="row">
            <div class="col-md">
                <h4>Current Jobs</h4>
                <div class="card card-body">
                    <table class="table table-sm table-hover">
                        <tr>
                            <th>S.No.</th>
                            <th>Designation</th>
                            <th>Job Category</th>
                            <th>Applicants</th>
                            <th>Deadline Status</th>
                            <th>Job Details</th>
                            <th>View Applicants</th>
                            <th>Update Job</th>
                            <th>Delete Job</th>
                        </tr>

                        {% for i in job_list %}
                        {% for job in i.jobrequirements_set.all %}
                        {% if job.active %}
                        <tr>
                            <td class="count"></td>
                            <td>{{job.post}}</td>
                            <td style="padding-left:30px;">{{job.job_id.job_category}}</td>
                            <td style="padding-left:30px;">{{i.employeeapplicants_set.all.count}}</td> <!--find no of applicants-->
                            <td>{{job.todate|date:'d M, Y'}}</td> <!-- status find out -->
                            <td style="padding-left:25px;"><a class="btn btn-sm btn-info" href="{{ job.description.url }}">View</a></td>
                            <td style="padding-left:30px;"><a class="btn btn-sm btn-primary" href="{% url 'applicants' i.id %}">View</a></td>
                            <td style="padding-left:25px;"><a class="btn btn-sm btn-success" href="{% url 'update_job_form' i.id %}">Edit</a></td>
                            <td style="padding-left:15px;">
                                <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#DeleteModal{{i.id}}" href="">Delete</a>
                                <!-- Modal !-->
                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModal{{i.id}}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Are you sure you want to delete this job?</strong></p>
                                                    <p>Job for the post: <strong>{{job.post}}</strong></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger"><a href="{% url 'delete_job' i.id %}">Delete</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md">
                <h4>Expired Jobs</h4>
                <div class="card card-body">
                    <table class="table table-sm table-hover">
                        <tr>
                            <th>S.No.</th>
                            <th>Designation</th>
                            <th>Job Category</th>
                            <th>Applicants</th>
                            <th>Deadline Status</th>
                            <th>Job Details</th>
                            <th>View Applicants</th>
                            <th>Delete Job</th>
                        </tr>
                        {% for i in job_list %}
                        {% for job in i.jobrequirements_set.all %}
                        {% if not job.active %}
                        <tr>
                            <td class="count"></td>
                            <td>{{job.post}}</td>
                            <td style="padding-left:30px;">{{job.job_id.job_category}}</td>
                            <td style="padding-left:30px;">{{i.employeeapplicants_set.all.count}}</td> <!--find no of applicants-->
                            <td>{{job.todate|date:'d M, Y'}}</td> <!-- status find out -->
                            <td style="padding-left:25px;"><a class="btn btn-sm btn-info" href="{{ job.description.url }}">View</a></td>
                            <td style="padding-left:30px;"><a class="btn btn-sm btn-primary" href="{% url 'applicants' i.id %}">View</a></td>
                            <td style="padding-left:15px;">
                                <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#Delete{{i.id}}" href="">Delete</a>
                                <!-- Modal !-->
                                    <div class="modal" tabindex="-1" role="dialog" id="Delete{{i.id}}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Are you sure you want to delete this job?</strong></p>
                                                    <p>Job for the post: <strong>{{job.post}}</strong></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger"><a href="{% url 'delete_job' i.id %}">Delete</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}